/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}